.plugin-gridster.vivotek .text {
		background: #0e7939;
		color:#FFFFFF;
		left: 0; width: 100%; 
		display: block;
		text-align: left;
}

.plugin-gridster.vivotek .logo {
  		position: absolute;
    	top: 20px; 
    	left: 40px; 
    	width: 70%; 
}

